body {
    margin: 0px;
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.mapbox-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.map-controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    z-index: 10;
}

.map-controls-container-left {
    left: 20px;
}


.map-controls-container-right {
    right: 20px;
}

.map-control {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 7px;
}

.map-control-icon {
    width: 100%;
    height: 100%;
}

.map-selection {
    font-size: 20px ;
}

.map-option {

}
