body {
    margin: 0px;
    font-family: Tahoma, sans-serif;
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.mapbox-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.map-controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    z-index: 10;
}

.map-controls-container-left {
    left: 20px;
}


.map-controls-container-right {
    right: 20px;
}

.map-button {
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.map-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.map-control-icon {
    width: 100%;
    height: 100%;
}

.map-selection {
    font-size: 20px;
    width: 200px;
}

dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    height: 50vh;
    max-height: 750px;
    width: 50vw;
    max-width: 600px;
    gap: 30px;
    border: 1px solid black;
    z-index: 100;
}

.create-layer-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.create-layer-content {
    display: flex;
}

.create-layer-sub-heading {
    margin-top: 0px;
    margin-bottom: 15px;
}

.create-layer-input {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
}

.modal-submit-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.modal-button {
    width: 150px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.layer-button {
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

.selected-button {
    background-color: #bde0ff;
}

.layers-list {
    width: 300px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 40vh;
}

.layers-list-layers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
}

.properties-container {
    z-index: 5;
    position: absolute;
    bottom: 10px;
    left: 20vw;
    height: 20vh;
    width: 60vw;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
}

.object-property {
    background: none;
    color: inherit;
    border: 1px solid gray;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
}

.properties-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

.min-max-button {
    color: black;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    :hover {
        background-color: #e6e6e6;
    }
}

.min-max-icon {
    padding: 8px;
}